<h1>Data#index</h1>
<h1>Hello</h1>
<form  method="get" action="/senddata">>
  <label for="name">Podaj IP:</label><br>
  <input type="text" id="name" name="name"><br>
  <input type="submit">
</form>
<p>Find me in app/views/data/index.html.erb</p>
